@import "./normalixe.css";

* {
  box-sizing: border-box;
}

label {
  font-size: 10px;
}

p{
  margin: 0;
}

.main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.wr {
  width: 500px;
  max-width: 96%;
  border: 1px solid gray;
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;
}

input[type=range]  {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: revert;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #36b32f;
  height: 5px;
}

input[type=range]::-webkit-slider-thumb {
  background: #36b32f;
  cursor: pointer;
  width:15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 15px;
}

.scales {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.scales-block {
  width: 44%;
}

.scales-input {
  border-left: 5px solid #36b32f;
  border-right: 5px solid #36b32f;
  padding: 5px 0;
  position: relative;
}

.scales-input:after,
.scales-input:before {
  position: absolute;
  display: block;
  width: 5px;
  bottom: -20px;
}
.scales-input:after {
  content: attr(data-minValue);
  left: -6px;
}

.scales-input:before {
  content: attr(data-maxValue);
  right: 6px;
}

/*  charts */
.charts {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-top: 20px;
}
.charts:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 154px;
  width: 6px;
  background: #000;
  border-radius: 10px;
}
.charts-row {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
}
.charts-row_icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3e3e3;
  padding: 5px;
}
.charts-row_icon img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.charts-row_price {
  white-space: nowrap;
}
.charts-row_name {
  width: 100px;
  padding-right: 10px;
}
.charts-row_chart {
  width: calc(100% - 130px);
  display: flex;
  align-items: stretch;
  grid-gap: 5px;
  padding-left: 30px;
}
.charts-row_line {
  background: gray;
}
.charts-row_checkbox,
.b-input {
  display: flex;
  align-items: center;
  gap: 10px;
}
.b-input {
  gap: 5px;
}

@media screen and (max-width: 480px) {
  .content {
    flex-direction: column-reverse;
  }
  .scales {
    flex-direction: column;
    align-items: center;
    grid-gap: 30px;
  }
  .charts {
    display: flex;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .charts:after {
    content: none;
  }
  .charts-row {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .charts-row_name {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .charts-row_chart {
    align-items: start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    padding-left: 0;
    height: 200px;
    width: auto;
    margin-bottom: 30px;
  }
  .charts-row_line {
    width: 20px !important;
  }
  .charts-row_price {
    padding-top: 10px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  .charts-row_checkbox {
    margin-top: 5px;
  }
}

